
$primarycolor:#ADEFD1FF;
$secondarycolor:#00203FFF;

.menu-buttons{
    padding-top:10px;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
  
    .buttons{
        background-color:$primarycolor;
        width: 100%;
        height: 100%;
        border:none;
        a{
            text-decoration: none;
        }
    }
}