

.ingredient-card{
    background-color: #f37571;
    width: 70px;
    height: 70px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &__image{
        width: 70px;
        height:70px;
    }
}