$primarycolor: #adefd1ff;
$secondarycolor: #00203fff;

body {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: black;
    
    a{
        text-decoration: none;
        font-size: 14px;
        color: black;
    }
}
